name: Check master and upgrade version
on:
  push:
    branches:
      - master
jobs:
  test:
    name: Check the source code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.7.0'
          channel: 'stable'
      - name: Flutter version
        run: flutter --version
      - name: Init
        run: flutter pub global activate melos 3.0.1
      - name: Bootstrap
        run: flutter pub global run melos bs
      - name: Analyze
        run: flutter pub global run melos run check
      - name: Set git user
        run: git config --global user.email "sla.000@ya.ru" && git config --global user.name "Github Action"
      - name: Version upgrade
        run: flutter pub global run melos version --yes
      - name: Commit & Push changes
        uses: actions-js/push@v1.4
        with:
          branch: master
          empty: true
          tags: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          
