name: Check PR
on:
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Check the source code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.0'
          channel: 'stable'
      - name: Flutter version
        run: |
          flutter --version
      - name: Init
        run: |
          flutter pub get
      - name: Bootstrap
        run: |
          dart run melos bs
      - uses: hrishikesh-kadam/setup-lcov@v1
      - name: Check source
        run: |
          dart run melos run check
